.battle {
    display: grid;
    grid-template-columns: 80vw  20vw;
    grid-template-rows: 100vh;
    overflow: hidden;
    background-color: #bfb166;
}

.combat {
    display: grid;
    grid-template-rows: 16vh 17.5vh 17.5vh 17.5vh 17.5vh 16vh;
}

.stats {
    display: grid;
    grid-template-rows: 20vh 60vh 20vh;
    align-items: center;
}