.battle {
    display: grid;
    grid-template-columns: 80vw  20vw;
    grid-template-rows: 100vh;
    overflow: hidden;
}

.combat {
    display: grid;
    grid-template-rows: 15vh 15vh 20vh 20vh 15vh 15vh;
}

.stats {
    display: grid;
    grid-template-rows: 20vh 60vh 20vh;
    align-items: center;
}